.social
	display: flex
	align-items: center
	justify-content: center
	height: 45px
	width: 45px

.light
	background: #FFFFFF
	border: 2px solid #FFFFFF
	path
		fill: black
		color: black

.dark
	background: transparent
	border: 2px solid #FFCA42
