.social_box
	display: flex
	align-items: center
	justify-content: center
header
.social_box
	background: #FFFFFF
	border: 2px solid #FFFFFF
	height: 45px
	width: 45px

footer
	.social_box
		background: transparent
		border: 1px solid #FFCA42
		height: 55px
		width: 55px
