.header
	width: 100%
	background-color: transparent
	position: sticky
	top: 0
	background-color: #1B3764
	z-index: 99

.wrap
	max-width: 1440px
	width: 100%
	margin: auto
	height: 109px
	display: flex
	justify-content: space-between
	position: relative

.left
	display: flex
	justify-content: space-between
	align-items: center
	grid-gap: 35px
	max-width: 309px

.right
	max-width: 771px
	display: flex
	justify-content: space-between
	align-items: center

@media (max-width: 1440px)
	.wrap
		max-width: 80%

@media (max-width: 1024px)
	.right
		justify-content: end

@media (max-width: 640px)
	.socialInner
		display: none
	.right
		justify-content: center
		padding-right: 20px

@media (max-width: 480px)
	.right
		justify-content: center
