.inner
	display: flex
	align-items: center
	justify-content: space-between
	padding: 80px 0 40px 0

.author
	// border: 10px solid #FFCA42
	outline: 10px solid #FFCA42
	outline-offset: -30px
	position: relative
	transition: outline-offset 0.5s
	&:hover
		outline-offset: -15px
		img
			top: 0px
			left: 0px
	img
		position: relative
		top: -30px
		left: -30px
		transition: top 0.5s, left 0.5s

.boxes
	display: flex
	flex-wrap: wrap
	grid-gap: 30px

.box
	background: #F4F8FF
	padding: 30px 30px 10px 30px
	max-width: 303px
	min-height: 272px
	transition: box-shadow 0.5s
	&:hover
		box-shadow: 0px 4px 9px 3px #ccc

.desc
	font-family: 'Cardo'
	font-size: 24px
	line-height: 34px
	color: #1B3764

.number
	font-family: 'Cardo'
	font-size: 23px
	line-height: 29px
	background: #FFCA42
	border-radius: 50%
	width: 50px
	height: 50px
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: 30px

@media (max-width: 1440px)
	.book
		display: flex
		justify-content: flex-end

@media (max-width: 1280px)
	.inner
		flex-wrap: wrap
		justify-content: center
		align-items: start
		grid-row-gap: 30px

	.boxes
		justify-content: center
		align-items: center

@media (max-width: 640px)
	.author
		outline-offset: -20px
		img
			width: 80%
			top: -20px
			left: 48px

	.numberAuthor
		justify-content: space-around
		flex-wrap: wrap

	.line
		margin: 0 20px
@media (max-width: 592px)
	.numberAuthor
		grid-gap: 30px
	.line
		display: none
	.infoAuthor
		flex-wrap: wrap
		.qr
			width: 100%
@media (max-width: 447px)
	.title
		font-size: 2.7em

	.authorImg img
		left: -10px

@media (max-width: 360px)
	.numberAuthor, .number, .numberDesc
		justify-content: center
		text-align: center
